<div class="comic-strip" aria-label="case">
    {%- for panel in site.data.comicstrips -%}


    <div class="comic-strip-panel">
        {%- if panel.dev_pov != "" -%}
        <a class="comic-strip-tooltip-link">
            <div id="dev-pov-{{panel.id}}" class="comic-strip-tooltip"  role="tooltip"
                    aria-label="le point de vue du dev :{{panel.dev_pov}}">{{panel.dev_pov}}</div>
            {%- endif -%}
            {%- if panel.image != 'none'-%}
            <img   tabindex="0"
                    aria-describedby="dev-pov-{{panel.id}}"
                    src="{{ panel.image }}"
                    alt="{{ panel.text }}"
                    class="comic-strip-img"/>
            {% else %}
            <div class="comic-strip-none"  tabindex="0" aria-label="{{ panel.text}} Du point de vue du dev :{{panel.dev_pov}}"  >
                <p class="comic-strip-text"  >{{ panel.text }}</p>
            </div>
            {%- endif -%}
            {%- if panel.dev_pov != "" -%}
        </a>
        {%- endif -%}
    </div>

    {%- endfor -%}

    <div class="comic-strip-legend">
        <span class="material-symbols-outlined small-icon">
emoji_objects
</span>
        <span class="comic-strip-legend-text" aria-hidden="true">
             Découvre le point de vue du dev en survolant les cases
        </span>

    </div>
</div>
