<div class="slide">
    <script src="../scripts/slider.js"></script>
    <script>
        const drawings = {{site.data.drawings | jsonify}};
        slider(drawings);
    </script>

    <div class="slide-navigation" aria-hidden="true">
        <button id="previous">
            <span class="material-symbols-outlined large-icon" aria-hidden="true"> chevron_left</span>
        </button>
    </div>
    <div class="slide-slot" aria-hidden="true">
        <img id="slide"
             src="{{ site.data.drawings[0].image }}"
             class="slide-image"
             aria-hidden="true"/>
        <legend id="legend" class="slide-legend" aria-hidden="true">{{ site.data.drawings[0].legend }}</legend>
    </div>
    <div class="slide-navigation" aria-hidden="true">
        <button id="next" aria-hidden="true">
            <span class="material-symbols-outlined large-icon" aria-hidden="true">chevron_right</span>
        </button>
    </div>
</div>