<div class="slide">
    <script src="/scripts/slider.js"></script>
    <script>
       const drawings= {{site.data.drawings | jsonify}};
       slider(drawings);
    </script>

    <div class="slide-navigation">
        <button id="previous">
            <span class="material-symbols-outlined large-icon"> chevron_left</span>
        </button>
    </div>
    <div class="slide-slot">
        <img id="slide"
             src="{{ site.data.drawings[0].image }}"
             alt="{{ site.data.drawings[0].legend }}"
             class="slide-image"/>
        <legend id="legend" class="slide-legend">{{ site.data.drawings[0].legend }}</legend>
    </div>
    <div class="slide-navigation">
        <button id="next">
            <span class="material-symbols-outlined large-icon">chevron_right</span>
        </button>
    </div>
</div>