{%- for item in site.data.menu  -%}

{%- if page.permalink != item.permalink  -%}
<a href="{{ item.permalink | relative_url}}" class="page-link" >
    <nav class="material-symbols-outlined large-icon" title="{{item.label}}">  {{  item.icon }}</nav>
</a>
{%- else -%}
<a href="{{ item.permalink | relative_url}}" class="page-link visited" disabled >
    <nav role="navigation" class="material-symbols-outlined large-icon" title="{{item.label}}">  {{  item.icon }}</nav>
</a>
{%- endif -%}
{%- endfor -%}



